[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
cfn-lint = "*"
yamllint = "*"
pytest = "*"
"e1839a8" = {editable = true, extras = ["dev"], path = "."}

[packages]
"e1839a8" = {editable = true, path = "."}

[requires]
python_version = "3.7"